.visually-hidden {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body, html {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  position: relative;
  margin: 0 auto;
  background-color: white;
  font-family: $fontstack-text;
  color: $color-black;
  font-size: 12pt;
}

/* .wrapper {
  min-height:100%;
  position:relative;
}
 */
/* Height of the footer element
.main {
  padding-bottom:60px; 
}
 */
header {
  padding-top: 1em;
  margin-bottom: 2em;
}

.logo {
  display: block;
/*   position: relative;
 */  margin: 0 auto;
  z-index: 1;
  max-width: 90%;
  background-color: white;
}

nav {
    &.hamburger-menu {
      margin-top: 0;
      text-align: right;
      padding: 1em;
      cursor: pointer;
    }

  &.main-menu {
  }

  ul {
    display: none;
    position: absolute;
    top: 30px;
    right: 1em;
    background-color: $color-medium-blue;
    li {
      font-size: 1.2em;
      display: block;
      line-height: 3;
      text-align: center;
      padding: 0 2em;
      a {
        color: white;
      }
    }
    &.expand {
      display: block;
    }
  }
  
}

div.navlinks {
  margin-top: 1em;
  margin-bottom: 5em;
  .navlink-left {
    float: left;
  }
  .navlink-right {
    float: right;
  }

}

.menu-hover-state {
  background-color: $color-beige;
   a {
    color: $color-purple;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: $fontstack-headers;
}

h1 {
  font-size: 1.5em;
  color: $color-medium-blue;
}

h2 {
  font-size: 1.3em;
  color: $color-medium-blue;
}

h3 {
  font-size: 1.1em;
  color: $color-dark-blue;
}

h4 {
  font-size: 0.9em;
  color: $color-dark-blue;
}

img {
  max-width: 100%;
  &.add-border {  //this is for images where I neglected to add the border in Photoshop - will eventually transition all to this
    border: 1px solid #bbb;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.button {
  background-color: $color-beige;
  border: 1px solid $color-light-green;
  border-radius: 4px;
  margin-bottom: 2em;
  padding: .6em;
  color: $color-dark-blue;
  box-shadow: 3px 3px 3px $color-light-green;
  &:hover {
    background-color: $color-off-white;
  }
}

a.button {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  &:visited {
    color: $color-dark-blue;    
  }
}

.text-link {
  color: $color-medium-blue;
  font-weight: bold;
}

.text-link:hover {
  text-decoration: underline;
}

figure {
  margin: 1em 0;
}

/* hr:after {
    content: " ";
  }
 */
section:first-of-type {
  width: 90%;
/*   margin: 3em auto 2em auto;
 margin: 0 auto;
 padding-bottom: 50px;
*/}

// ul.triangle-list {
//   margin-left: 1em;
//   li {
//     position: relative;
//     padding-left: 12px;
//     &:before {
//       content: '';
//       position: absolute;
//       top: 6px;
//       left: 0px;
//       width: 0; 
//       height: 0; 
//       border-top: 4px solid transparent;
//       border-bottom: 4px solid transparent;
//       border-left: 5px solid $color-purple;
//     }
//   }
// }

  a {
    color: $color-black;
  }

footer {      /* Footer height: 60px  */
  background-color: $color-beige;
  width: 100%;
  font-size: 0.9em;
  padding: 0.5em 5%;
/*   position: absolute;
  bottom: 0;
  left:0;
 */  div {
    @include clearfix();
     margin: 1em auto 0 auto;
    font-size: 0.8em;
    p {
      margin: 0 0 0.5em 0;
      &.copyright {
        text-align: center;
        margin-bottom: 0;
      }
    }
  }

}