// variables.scss

//Typeface
$fontstack-text: 'PT Sans', sans-serif;
$fontstack-headers: 'PT Serif', serif;


//Colors
$color-black: #333;
$color-dark-blue: #2F4550;
$color-medium-blue: #586F7C;
$color-light-green: #9DA59D;
$color-beige: #E4E5CE;
$color-off-white: #F4F4F9;
$color-purple: #820263;
