/* $fontstack-text: 'PT Sans', sans-serif;
$fontstack-headers: 'PT Serif', serif;
 */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

body, html {
  padding: 0;
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  max-width: 95%;
  position: relative;
  margin: 0 auto;
  background-color: white;
  font-family: "Slabo 27px", serif;
  color: #666;
  font-size: 12pt; }

header {
  padding-top: 1em;
  margin-bottom: 2em; }

.logo {
  display: block;
  margin: 0 auto;
  z-index: 1;
  max-width: 125px; }

.tag-line {
  text-align: center; }

nav.main-menu {
  font-family: "Oswald", sans-serif; }
nav ul {
  text-align: center; }
  nav ul li {
    display: inline;
    text-align: center;
    padding: 0;
    margin: 0 0.5em; }
    nav ul li.selected {
      border-bottom: 2px solid #2F4550; }

div.navlinks {
  margin-top: 1em;
  margin-bottom: 1em; }
  div.navlinks .navlink-left {
    float: left; }
  div.navlinks .navlink-right {
    float: right; }

.menu-hover-state {
  background-color: #e9edef; }
  .menu-hover-state a {
    color: #820263; }

a {
  text-decoration: none; }

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif; }

h1 {
  font-size: 1.5em;
  color: #586F7C; }

h2 {
  font-size: 1.3em;
  color: #586F7C; }

h3 {
  font-size: 1.1em;
  color: #2F4550; }

h4 {
  font-size: 1em;
  color: #2F4550; }

img.add-border {
  border: 1px solid #bbb; }

ul {
  list-style-type: none;
  padding-left: 0; }

.button {
  background-color: #e9edef;
  border: 1px solid #9DA59D;
  border-radius: 4px;
  margin-bottom: 2em;
  padding: .6em;
  color: #2F4550;
  box-shadow: 3px 3px 3px #9DA59D; }
  .button:hover {
    background-color: #F4F4F9; }

a.button {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold; }
  a.button:visited {
    color: #2F4550; }

.text-link {
  color: #586F7C;
  font-weight: bold; }

.text-link:hover {
  text-decoration: underline; }

figure {
  margin: 1em 0; }

section:first-of-type {
  content: "";
  display: table;
  clear: both; }

.project-container {
  text-align: center;
  margin: 2em auto;
  background-color: #e9edef;
  max-width: 95%;
  overflow: auto;
  border: 1px solid #e5e9ea;
  padding-bottom: 1em; }
  .project-container:first-of-type {
    margin-top: 0; }
  .project-container a.text-link {
    font-size: 0.9em; }
  .project-container img {
    margin: 2em 0 1em;
    width: 200px;
    height: 200px; }
  .project-container .project-description {
    display: inline-block;
    text-align: center; }
    .project-container .project-description h2 {
      margin: 0;
      font-size: 1.8em;
      text-transform: uppercase; }

ul.triangle-list {
  margin-left: 1em;
  padding-left: 0;
  list-style-type: disc; }
  ul.triangle-list li {
    position: relative;
    /*     &:before {
          content: '';
          position: absolute;
          top: 6px;
          left: 0px;
          width: 0; 
          height: 0; 
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 5px solid $color-purple;
        }
     */ }

a {
  color: #666; }

.fa-external-link {
  font-size: .8em;
  vertical-align: super; }

footer {
  /* Footer height: 60px  */
  width: 100%;
  font-size: 0.9em;
  padding: 0.5em 5%;
  margin-top: 1em; }
  footer div {
    content: "";
    display: table;
    clear: both;
    margin: 1em auto 0 auto;
    font-size: 0.8em; }
    footer div p {
      margin: 0 0 0.5em 0; }
      footer div p.copyright {
        text-align: center;
        margin-bottom: 0; }

/* .projects .text-link {
  text-decoration: none;
}
*/
section.projects {
  margin-bottom: 2em; }

article.project {
  border: 1px solid #bbb;
  padding: 1em; }

.project {
  margin: 3em auto 0;
  display: block;
  max-width: 800px; }
  .project img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .project h4 {
    font-family: "Slabo 27px", serif;
    font-size: 1.1em;
    font-weight: normal; }
  .project h4:after {
    content: ": "; }
  .project figcaption {
    text-align: center;
    font-style: italic; }
    .project figcaption.small {
      font-size: 0.7em;
      margin-top: -0.5em; }
  .project .project-header {
    max-width: 600px;
    display: block;
    margin: 3em auto 0;
    content: "";
    display: table;
    clear: both; }
    .project .project-header:first-of-type {
      margin-top: 0; }
    .project .project-header h2 {
      border-bottom: 1px solid #2F4550;
      padding-bottom: 0.4em;
      margin: 0;
      text-align: center; }
    .project .project-header h3 {
      margin: 0; }
    .project .project-header h4 {
      display: block;
      margin-top: 0.5em;
      text-align: center; }
      .project .project-header h4:after {
        content: " "; }

.resume {
  content: "";
  display: table;
  clear: both;
  /*   .skillset h3, .tools h3 {
      margin-bottom: 0;
    }
   */ }
  .resume .sub-section {
    margin-top: 3em; }
  .resume .classes h2 {
    margin-bottom: 0; }
  .resume h3 > span:first-of-type {
    font-size: .8em;
    display: block; }
  .resume .hanging-indent {
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em; }
    .resume .hanging-indent li {
      padding-bottom: 1em; }
    .resume .hanging-indent i {
      text-indent: 0; }
    .resume .hanging-indent li:last-child {
      padding-bottom: 0; }
  .resume h3, .resume h4 {
    margin-bottom: 0; }
  .resume ul {
    margin-top: 0.25em; }

.contact {
  margin-left: 1em; }

li#phone {
  list-style: inside url("../img/icons/phone_small.png");
  padding-top: 5px; }
  li#phone span {
    position: relative;
    top: -3px; }

li#email {
  list-style: inside url("../img/icons/email_small.png"); }
  li#email span {
    position: relative;
    top: -5px; }

li#linkedin {
  list-style: inside url("../img/icons/linkedin_small.png"); }
  li#linkedin span {
    position: relative;
    top: -2px; }

@media screen and (min-width: 400px) {
  section:first-of-type.contact {
    margin-left: 10%; } }
@media screen and (min-width: 481px) {
  section.home {
    font-size: 1.1em;
    margin: 1.5em auto; } }
@media screen and (min-width: 600px) {
  section.home {
    font-size: 1em; }

  .tag-line {
    font-size: 0.75em; } }
@media screen and (min-width: 641px) {
  .one-half {
    width: 50%; }

  .one-third {
    width: 33%; }

  .two-thirds {
    width: 66%; }

  .left {
    float: left;
    padding-right: 5%; }

  .right {
    float: right;
    padding-left: 2%;
    margin-top: 1.5em; }

  .center {
    margin-left: auto;
    margin-right: auto; }

  .logo {
    max-width: 100%;
    padding-top: 1em;
    margin-top: 0; }

  nav {
    text-align: center;
    font-size: .8em; }
    nav.hamburger-menu {
      display: none; }
    nav.main-menu {
      display: initial; }
    nav li.project-menu-item .sub-nav {
      top: 1.95em; }
    nav ul {
      width: 100%;
      margin: 1em auto 0 auto;
      position: relative;
      display: inline-block;
      top: initial;
      right: initial;
      background-color: white; }
      nav ul li {
        display: inline-block;
        line-height: 1.5;
        font-weight: bold;
        margin: 0 0.6em;
        padding: 0; }
        nav ul li a {
          color: #2F4550; }

  body {
    font-size: 16pt; }

  .project-container {
    display: flex;
    align-items: center;
    padding-bottom: 0; }
    .project-container img {
      margin: 1em;
      float: left; }
    .project-container .project-description {
      text-align: initial;
      margin-right: 1em; }
      .project-container .project-description h2 {
        font-size: 1.3em; }

  .project {
    font-size: 0.9em; }
    .project h4 {
      font-size: 1em; }

  footer {
    content: "";
    display: table;
    clear: both;
    /* 		div {
    			margin-top: 4em;
    		}
     */ }
    footer ul {
      text-align: center;
      display: block;
      width: 620px;
      margin: 0 auto; }
    footer span {
      padding-left: 0.1em; }
    footer li {
      float: left;
      padding-right: 1.5em; }
      footer li#phone span {
        top: -6px; }
      footer li#email span {
        top: -6px; }
      footer li#linkedin span {
        top: -5px; }

  section.projects {
    content: "";
    display: table;
    clear: both;
    margin-left: 2.5em; }

  .article-container {
    height: 450px;
    width: 50%; }

  .tools {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    position: relative; }

  .education {
    content: "";
    display: table;
    clear: both; }

  aside {
    margin-top: 50px;
    font-size: 0.9em;
    background-color: #e9edef; }

  .right {
    padding-left: 3%;
    padding-right: 3%; } }
@media screen and (min-width: 801px) {
  header {
    padding-top: 3em; }
    header .logo-wrapper, header .tag-line {
      display: block;
      float: left; }
    header .tag-line {
      font-size: 0.9em;
      margin-top: 66px;
      margin-left: 20px;
      color: #666; }
    header .logo {
      /* 			box-shadow: 3px 5px 5px $color-light-green;
      			background-color: $color-off-white;
       			float: left;
       */
      padding: 0;
      margin-top: 1em; }
    header img.logo {
      margin-left: 2em;
      margin-bottom: 2em; }
    header nav.main-menu {
      float: right;
      margin-right: 3em; }
    header nav li {
      font-size: 0.9em;
      margin: 2.1em 0.6em;
      padding: 0;
      text-transform: uppercase;
      /* 				&:first-of-type {
      			    	margin-left: 4%;
      				}
      				li {
      					font-size: 1.2em;
      					&:first-of-type {
      						margin-left: 0;
      					}
      				}
      */ }
      header nav li a {
        display: block;
        padding: 0; }
      header nav li.project-menu-item .sub-nav {
        top: 3em; }

  .project-container img {
    height: 250px;
    width: 250px; }

  section:first-of-type {
    width: 90%;
    margin: 4em auto 0; }

  section.projects {
    margin-bottom: 3em; }

  footer span {
    padding-left: 0.2em; } }
@media screen and (min-width: 820px) {
  nav {
    font-size: 1em; } }
@media screen and (min-width: 960px) {
  div.article-container {
    height: 400px;
    width: 33%; } }
@media screen and (min-width: 1041px) {
  /*	
  	html {
  		  background-color: $color-off-white;
  	}
  
  	body {
  		width: 960px;
  		&:before {
  			box-shadow: -15px 0 15px -15px inset;
  			content: " ";
  			height: 100%;
  			left: -15px;
  			position: absolute;
  			top: 0;
  			width: 15px;
  		}
  		&:after {
  			box-shadow: 15px 0 15px -15px inset;
  			content: " ";
  			height: 100%;
  			right: -15px;
  			position: absolute;
  			top: 0;
  			width: 15px;
  		}
  	}
   */
  .project figure.right {
    max-width: 60%;
    float: right;
    padding-left: 1em; }
  .project h3 {
    margin-top: 2em; }

  section.contact {
    margin-top: 7em; } }

/*# sourceMappingURL=css.css.map */
