.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F4F4F9;
  height: 100%;
  min-height: 100%; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0 auto;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  color: #333;
  font-size: 12pt; }

header {
  padding-top: 0em;
  margin-bottom: 2em; }

.logo {
  display: block;
  /*   position: relative;
   */
  margin: -1em auto 0 auto;
  z-index: 1;
  max-width: 90%;
  background-color: white; }

nav {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-top: -1em;
  /*   background-color: $color-dark-blue;
   */
  text-align: center; }
  nav.hamburger-menu {
    margin-top: 0;
    text-align: right;
    padding: 1em; }
  nav.main-menu {
    display: none; }
  nav li li:first-of-type {
    margin-left: -1px; }
  nav li {
    font-size: 0.9em;
    display: inline;
    margin: 0 -2px; }
    nav li a {
      display: inline-block;
      text-decoration: none;
      /*       color: white;
       */
      height: 3rem;
      padding-top: 1rem;
      padding-left: 4%;
      padding-right: 4%;
      /*       &.selected {
              background-color: $color-medium-blue;
              color: white;
            }
       */ }
      nav li a.selected {
        /*         background-color: $color-beige;
         */
        color: #820263; }
    nav li.project-menu-item {
      position: relative; }
      nav li.project-menu-item .sub-nav {
        z-index: 2;
        float: none;
        position: absolute;
        background-color: #2F4550;
        opacity: 0.95;
        top: 2.15em;
        left: -1px;
        width: 250px; }
        nav li.project-menu-item .sub-nav li {
          display: block;
          text-align: center; }
        nav li.project-menu-item .sub-nav a {
          margin: 0;
          width: 250px; }

.menu-hover-state {
  background-color: #E4E5CE;
  color: #820263;
  font-weight: bold; }

a {
  text-decoration: none; }

h1, h2, h3, h4 {
  font-family: "PT Serif", serif; }

h1 {
  font-size: 1.5em;
  color: #586F7C; }

h2 {
  font-size: 1.3em;
  color: #586F7C; }

h3 {
  font-size: 1.1em;
  color: #2F4550; }

h4 {
  font-size: 0.9em;
  color: #2F4550; }

img {
  max-width: 100%; }

ul {
  list-style-type: none;
  padding-left: 0; }

.button {
  background-color: #E4E5CE;
  border: 1px solid #9DA59D;
  border-radius: 4px;
  margin-bottom: 2em;
  padding: .6em;
  color: #2F4550;
  box-shadow: 3px 3px 3px #9DA59D; }
  .button:hover {
    background-color: #F4F4F9; }

a.button {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold; }
  a.button:visited {
    color: #2F4550; }

.text-link {
  color: #586F7C;
  font-weight: bold; }

.text-link:hover {
  text-decoration: underline; }

hr:after {
  content: " "; }

section:first-of-type {
  width: 90%;
  margin: 3em auto 2em auto; }

ul.triangle-list {
  margin-left: 1em; }
  ul.triangle-list li {
    position: relative;
    padding-left: 10px; }
    ul.triangle-list li:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #820263; }

footer {
  /* Footer heights: desktop, 66px; laptop, 95px; mobile, 155px  */
  background-color: #E4E5CE;
  width: 100%;
  font-size: 0.9em;
  display: block;
  padding: 0.5em 5%; }
  footer ul {
    margin: 0 auto;
    width: 240px;
    text-align: center; }
  footer span {
    position: relative;
    top: -6px;
    padding-left: .4em; }
  footer li {
    padding-bottom: 0.2em; }
  footer li#phone {
    list-style: inside url("../img/icons/phone_small.png"); }
    footer li#phone span {
      top: -7px; }
  footer li#email {
    list-style: inside url("../img/icons/email_small.png"); }
    footer li#email span {
      top: -5px; }
  footer li#linkedin {
    list-style: inside url("../img/icons/linkedin_small.png"); }
    footer li#linkedin span {
      top: -4px; }
  footer a {
    color: #333; }
  footer div {
    content: "";
    display: table;
    clear: both;
    margin: 1em auto 0 auto;
    font-size: 0.8em; }
    footer div p {
      margin: 0 0 0.5em 0; }
      footer div p.copyright {
        text-align: center;
        margin-bottom: 0; }

body {
  height: 100%;
  min-height: 100%; }

@media screen and (min-width: 641px) {
  .one-half {
    width: 50%; }

  .one-third {
    width: 33%; }

  .two-thirds {
    width: 66%; }

  .left {
    float: left;
    padding-right: 5%; }

  .right {
    float: right;
    padding-left: 2em; }

  .logo {
    max-width: 100%;
    padding-top: 1em;
    margin-top: 0; }

  nav {
    font-size: 1.2em; }
    nav.hamburger-menu {
      display: none; }
    nav.main-menu {
      display: block; }
    nav li.project-menu-item .sub-nav {
      top: 1.95em; }

  section:first-of-type {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 0; }

  footer {
    content: "";
    display: table;
    clear: both;
    /* 		div {
    			margin-top: 4em;
    		}
     */ }
    footer ul {
      text-align: center;
      display: block;
      width: 620px;
      margin: 0 auto; }
    footer span {
      padding-left: 0.1em; }
    footer li {
      float: left;
      padding-right: 1.5em; }
      footer li#phone span {
        top: -6px; }
      footer li#email span {
        top: -6px; }
      footer li#linkedin span {
        top: -5px; } }
@media screen and (min-width: 641px) {
  body section {
    position: relative; }
    body section .left {
      margin-bottom: 0; }
    body section .right {
      margin-top: 2.5em;
      margin-bottom: 0; } }
@media screen and (min-width: 801px) {
  header .logo {
    /* 			box-shadow: 3px 5px 5px $color-light-green;
     */
    background-color: #F4F4F9;
    /* 			float: left;
     */
    padding: 0;
    margin-top: 1em; }
  header img.logo {
    margin-left: 2em; }
  header nav {
    text-align: left;
    top: 2em; }
    header nav li {
      display: block;
      float: left; }
      header nav li:first-of-type {
        margin-left: 4%; }
      header nav li li {
        font-size: 1em; }
        header nav li li:first-of-type {
          margin-left: 0; }
      header nav li a {
        display: block;
        padding-left: 1em;
        padding-right: 1em; }
      header nav li.project-menu-item .sub-nav {
        top: 3em; }

  section:first-of-type {
    width: 90%;
    margin: 8em auto 1em auto; }

  footer span {
    padding-left: 0.2em; } }
@media screen and (min-width: 1041px) {
  html {
    background-color: #F4F4F9; }

  body {
    max-width: 960px; }
    body:before {
      box-shadow: -15px 0 15px -15px inset;
      content: " ";
      height: 100%;
      left: -15px;
      position: absolute;
      top: 0;
      width: 15px; }
    body:after {
      box-shadow: 15px 0 15px -15px inset;
      content: " ";
      height: 100%;
      right: -15px;
      position: absolute;
      top: 0;
      width: 15px; } }
@media screen and (min-width: 801px) {
  /* 	.home footer {
  		position: absolute;
  		bottom: 0;
  	}
   */
  hr.end-dot {
    width: 75%; } }

/*# sourceMappingURL=home.css.map */
