@media screen and (min-width: 801px) {

	body {
		margin: 0;
	}

	header {
		width: 100%;
		background-color: #fff;

		.logo-wrapper, .tag-line {
			display: block;
			float: left;
		}

		.tag-line {
			font-size: 0.9em;
			margin-top: 50px;
		    margin-left: 20px;
		    color: $color-black;
		}

		.logo {
/* 			box-shadow: 3px 5px 5px $color-light-green;
			background-color: $color-off-white;
 			float: left;
 */			padding: 0;
			margin-top: 1em;
		}

		img.logo {
			margin: 0.5em 0 0.4em 3em;
		}

		nav {
			&.main-menu {
				float: right;
				padding-right: 3em;
			}
			li {
				font-size: 0.9em;
				margin: 1.6em 0.6em;
				padding: 0;
				text-transform: uppercase;
/* 				&:first-of-type {
			    	margin-left: 4%;
				}
				li {
					font-size: 1.2em;
					&:first-of-type {
						margin-left: 0;
					}
				}
*/
				a {
					display: block;
					padding: 0;
				}
				&.project-menu-item .sub-nav {
					top: 3em;
				}
			}
		}
	}

	#content {
		max-width: 960px;
		margin: 0 auto;
	}

	#content.project {
		max-width: 800px;
	}

	#content.about-me {
		padding-top: 180px;
	}

	#content.portfolio {
		padding-top: 170px;
	}

	.contact {
		max-width: 960px;
		margin: 2em auto;
	}

	.project-container {
		max-width: 80%;
		img {
			height: 225px;
			width: 225px;
		}
	}

	.blog-post {
		max-width: 700px;
	}


	section:first-of-type {
	    width: 90%;
	    margin: 4em auto 0;
	}

	section.projects {
		margin-bottom: 3em;
	}

	footer {
		span {
			padding-left: 0.2em;
		}
	}
}

@media screen and (min-width: 820px) {
	nav {
		font-size: 1em;
	}
}

@media screen and (min-width: 960px) {

	div.article-container {
		height: 400px;
		width: 33%;
	}

}

@media screen and (min-width: 1018px) { //http://stackoverflow.com/questions/11997032/how-to-get-box-shadow-on-left-right-sides-only

	header {
		position: fixed;
		border-bottom: 1px solid $color-gray;
		box-shadow:  0 3px 5px rgba(0,0,0,.1);
		padding-top: 0;
		margin-bottom: 0;
	}

	#content {
		padding-top: 150px;
	}


/*	
	html {
		  background-color: $color-off-white;
	}

	body {
		width: 960px;
		&:before {
			box-shadow: -15px 0 15px -15px inset;
			content: " ";
			height: 100%;
			left: -15px;
			position: absolute;
			top: 0;
			width: 15px;
		}
		&:after {
			box-shadow: 15px 0 15px -15px inset;
			content: " ";
			height: 100%;
			right: -15px;
			position: absolute;
			top: 0;
			width: 15px;
		}
	}
 */


//PROJECTS PAGES
	.project {

		figure.right {
			max-width: 60%;
			float: right;
			padding-left: 1em;
		}

		h3 {
			margin-top: 2em;
		}

	}


//END PROJECTS PAGES


//CONTACT PAGES

	section.contact {
		margin-top: 7em;
	}

//END CONTACT PAGE


}