.visually-hidden {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body, html {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $color-off-white;
  height: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {  
/*   position: relative;
 */  margin: -1em auto 0 auto;
 min-height: 100%;
  background-color: white;
	font-family: $fontstack-text;
  color: $color-black;
	font-size: 12pt;
}

/* .wrapper {
  min-height:100%;
  position:relative;
}
 */
header {
  padding-top: 1em;
  margin-bottom: 2em;
}

.logo {
  display: block;
/*   position: relative;
 */  margin: 0 auto;
  z-index: 1;
  max-width: 90%;
  background-color: white;
}

nav {
    &.hamburger-menu {
      margin-top: 0;
      text-align: right;
      padding: 1em;
    }

  &.main-menu {
  }

  ul {
    position: absolute;
    top: 30px;
    right: 1em;
    background-color: $color-medium-blue;
    li {
      font-size: 1.2em;
      display: block;
      line-height: 3;
      text-align: center;
      padding: 0 2em;
      a {
        color: white;
      }
    }
  }

//Large-screen version of menu commented out to end of nav section  
/*   position: relative;
  width: 100%;
  height: 3rem;
  margin-top: -1em;
//   background-color: $color-dark-blue;
  text-align: center;
  li li:first-of-type {
    margin-left: -1px;
  }
  li {
    font-size: 0.9em;
    display:inline;
    margin: 0 -2px;
    a {
      display: inline-block;
      text-decoration: none;
//       color: white;
      height: 3rem;
      padding-top: 1rem;
      padding-left: 4%;
      padding-right: 4%;
      &.selected {
//         background-color: $color-beige;
      color: $color-purple;
      }
//       &.selected {
//        background-color: $color-medium-blue;
//        color: white;
//      }
    }
    &.project-menu-item {
      position: relative;
      .sub-nav {
        z-index: 2;
        float: none;
        position: absolute;
        background-color: $color-dark-blue;
        opacity: 0.95;
        top: 2.15em;
        left: -1px;
        width: 250px;
        li {
          display: block;
          text-align: center;
        }
        a {
          margin: 0;
          width: 250px;
        }
      }
    }
  } */
}

.menu-hover-state {
  background-color: $color-beige;
  a {
    color: $color-purple;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: $fontstack-headers;
}

h1 {
  font-size: 1.5em;
  color: $color-medium-blue;
}

h2 {
  font-size: 1.3em;
  color: $color-medium-blue;
}

h3 {
  font-size: 1.1em;
  color: $color-dark-blue;
}

h4 {
  font-size: 0.9em;
  color: $color-dark-blue;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.button {
  background-color: $color-beige;
  border: 1px solid $color-light-green;
  border-radius: 4px;
  margin-bottom: 2em;
  padding: .6em;
  color: $color-dark-blue;
  box-shadow: 3px 3px 3px $color-light-green;
  &:hover {
    background-color: $color-off-white;
  }
}

a.button {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  &:visited {
    color: $color-dark-blue;    
  }
}

.text-link {
  color: $color-medium-blue;
  font-weight: bold;
}

.text-link:hover {
  text-decoration: underline;
}

hr:after {
    content: " ";
  }

section:first-of-type {
  width: 90%;
/*   margin: 3em auto 2em auto;
 */
 margin: 0 auto;
 padding-bottom: 50px;
}

ul.triangle-list {
  margin-left: 1em;
  li {
    position: relative;
    padding-left: 10px;
    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0px;
      width: 0; 
      height: 0; 
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $color-purple;
    }
  }
}

footer {      /* Footer heights: desktop, 66px; laptop, 95px; mobile, 155px  */
  background-color: $color-beige;
  width: 100%;
  font-size: 0.9em;
  display: block;
  padding: 0.5em 5%;
  ul {
    margin: 0 auto;
    width: 240px;
    text-align: center;
  }
   span {
    position: relative;
    top: -6px;
    padding-left: .4em;
  }
  li {
    padding-bottom: 0.2em;
  }
  li#phone {
    list-style: inside url('../img/icons/phone_small.png');
      span {
        top: -7px;
      }
  }

  li#email {
    list-style: inside url('../img/icons/email_small.png');
      span {
        top: -5px;
      }
  }

  li#linkedin {
    list-style: inside url('../img/icons/linkedin_small.png');
      span {
        top: -4px;
      }
  }
 
  a {
    color: $color-black;
  }

  div {
    @include clearfix();
    margin: 1em auto 0 auto;
    font-size: 0.8em;
    p {
      margin: 0 0 0.5em 0;
      &.copyright {
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}
