@media screen and (min-width: 641px) {

	.project {
		@include clearfix();

		p {
		display: block;
		}

 		h3 {
			margin-top: 0;
		}

		img.right {
			max-width: 600px;
			float: none;
			padding-left: 0;
		}

	}

	.projects div.one-half article:first-of-type {
		margin-top: 1em;
	}

}