@media screen and (min-width: 600px) {
  section.home {
    font-size: 1em;
  }
  .tag-line {
  	font-size: 0.75em;
  }
}

@media screen and (min-width: 641px) {


	.one-half {
		width: 50%;
	}

	.one-third {
		width: 33%;
	}

	.two-thirds {
		width: 66%;
	}

	.left {
		float: left;
		padding-right: 5%;
	}

	.right {
		float: right;
		padding-left: 2%;
		margin-top: 1.5em;
	}

	.center {
		margin-left: auto;
		margin-right: auto;
	}

	.logo {
		max-width: 100%;
  		padding-top: 1em;
		margin-top: 0;
	}


	nav  {
		text-align: center;
		&.hamburger-menu {
			display: none;
		}
		&.main-menu {
			display: initial;
		}
		font-size: .8em;
		li.project-menu-item .sub-nav {
			top: 1.95em;
		}
		ul {
			width: 100%;
			margin: 1em auto 0 auto;

			position: relative;
			display: inline-block;
			top: initial;
			right: initial;
			background-color: white;
			li {
				display: inline-block;
				line-height: 1.5;
				font-weight: bold;
				margin: 0 0.6em;
				padding: 0;
				a {
					color: $color-dark-blue;
				}
			}
		}
	}

	body {
		font-size: 16pt;
	}

	.project-container {
		display: flex;
		align-items: center;
		padding-bottom: 0;
		img {
			margin: 1em;
			float: left;
		}
		.project-description {
			text-align: initial;
			margin-right: 1em;
			h2 {
				font-size: 1.3em;
			}
		}
	}

	.project {
		font-size: 0.9em;
		h4 {
			font-size: 1em;
		}
	}

	footer {
		@include clearfix();
/* 		div {
			margin-top: 4em;
		}
 */		ul {
			text-align: center;
			display: block;
			width: 620px;
			margin: 0 auto;
		}

		span {
			padding-left: 0.1em;
		}

 		li {
			float: left;
			padding-right: 1.5em;
			&#phone span {
		        top: -6px;
		    }
		    &#email span {
				top: -6px;
		    }
		    &#linkedin span {
				top: -5px;
		    }
		}
 	}

//PROJECTS PAGES

	section.projects {
		@include clearfix();
		margin-left: 2.5em;
	}

	.article-container {
		height: 450px;
		width: 50%;
	}

//END PROJECT PAGES

//RESUME PAGE
	.tools {
		@include clearfix();
 		width: 100%;
 		position: relative;
	}

	.education {
		@include clearfix();
	}

	aside {
		margin-top: 50px;
		font-size: 0.9em;
		background-color: $color-beige;
	}

	.right {
			padding-left: 3%;
			padding-right: 3%;
	}

//END RESUME PAGE


@media screen and (min-width: 800px) {
	
}
}