/* body.contact {
	height: 100%;
	min-height: 100%;
}
 */
/* 
.wrapper {
	min-height:100%;
	position:relative;
}
 */


section:first-of-type {
	padding-bottom: 4em;
}

li#phone {
list-style: inside url('../img/icons/phone_small.png');
padding-top: 5px;
  span {
  	position: relative;
    top: -3px;
  }
}

li#email {
list-style: inside url('../img/icons/email_small.png');
  span {
  	position: relative;
    top: -5px;
  }
}

li#linkedin {
list-style: inside url('../img/icons/linkedin_small.png');
  span {
  	position: relative;
    top: -2px;
  }
}


footer.pinned {
  height:62px;
  position:absolute;
  bottom:0;
  left:0;
}


/* 
input {
	width: 95%;
	max-width: 24em;
	padding: 0.5em;
	margin: 0.5em 0;
	border: 1px solid $color-light-green;
	border-radius: 5px;
	&[name="message"] {
		padding-bottom: 8em;
	}
}

::-webkit-input-placeholder {
	color: $color-light-green;
}

:-moz-placeholder { /* Firefox 18- */
/*	color: $color-light-green;  
}

::-moz-placeholder {  /* Firefox 19+ */
/*	color: $color-light-green;  
}

:-ms-input-placeholder {  
	color: $color-light-green;
}

.button {
	width: 5em;
}
 */