@media screen and (min-width: 641px) {


	.one-half {
		width: 50%;
	}

	.one-third {
		width: 33%;
	}

	.two-thirds {
		width: 66%;
	}

	.left {
		float: left;
		padding-right: 5%;
	}

	.right {
		float: right;
		padding-left: 2em;
	}

	.center {
		margin-left: auto;
		margin-right: auto;
	}

	.logo {
		max-width: 100%;
  		padding-top: 1em;
		margin-top: 0;
	}

	nav  {
		text-align: center;
		&.hamburger-menu {
			display: none;
		}
		&.main-menu {
			display: initial;
		}
		font-size: .9em;
		li.project-menu-item .sub-nav {
			top: 1.95em;
		}
		ul {
			width: 100%;
			margin: 1em auto 0 auto;

			position: relative;
			display: inline-block;
			top: initial;
			right: initial;
			background-color: white;
			li {
				display: inline-block;
				line-height: 2;
				font-weight: bold;
				padding: 0 0.8em;
				a {
					color: $color-dark-blue;
					&.selected {
						border-bottom: 2px solid $color-dark-blue;
					}
				}
			}
		}
	}

	section:first-of-type {
		@include clearfix();
		margin-bottom: 0;
	}

	footer {
		@include clearfix();
/* 		div {
			margin-top: 4em;
		}
 */		ul {
			text-align: center;
			display: block;
			width: 620px;
			margin: 0 auto;
		}

		span {
			padding-left: 0.1em;
		}

 		li {
			float: left;
			padding-right: 1.5em;
			&#phone span {
		        top: -6px;
		    }
		    &#email span {
				top: -6px;
		    }
		    &#linkedin span {
				top: -5px;
		    }
		}
 	}

}

